Create a list called 'example' containing the following numbers:
    
5, 15, 35, 100, 20, 35

Using a 'for' loop, create another list called 'example2' that contains the same numbers multiplied by two:

Using a list comprehension, create a list called 'example3' that contains the numbers in 'example' squared:

Convert the elements in the list 'things' below using a for loop and the dictionary 'zoo_map'.  Save the results in a list called 'numbers_list'.

In [ ]:
things = ['cat','cat','dog','frog','log']

In [ ]:
zoo_map = {'cat': 0,
           'dog': 1,
           'frog': 2,
           'log': 3}

Use a list comprehension to convert 'words' into a new list called 'words_plus' where each string has the string ' text' added onto the end.

In [ ]:
words = ['this', 'is', 'a', 'test']

In [ ]:
words_plus =

Create the dataframe below.

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame({'weight (kg)': [50, 60, 75, 80, 40, 90, 85, 100, None, 74, 51], 
                   'height (cm)': [150, 140, None, 170, 180, 175, 180, 183, 178, 210, 175]})

Drop all rows that have null values using the .dropna() function

In [ ]:
__________________

Create a new column in the datamframe called 'height (m)' which is the same as 'height (cm)' divided by 100.  Try referring to the 'cheat sheet' to understand how a 'lambda function' works.

In [ ]:
df['height (m)'] = df['height (m)'].apply(.............)

Create a new column in the dataframe called 'BMI' which is calculated by dividing the weight (in kilos) by the height (in metres) squared.

$ BMI = \frac{weight(kg)}{height(m)^2} $

In [ ]:
df['BMI'] = ______________

Create a function that takes a number as an input and returns the appropriate BMI outcome:

| Value | BMI classification|
| :--- | :-- | 
| <18.5 | underweight |
|18.5–24.9	|normal weight|
|25.0–29.9	|overweight|
|30.0–34.9	|class I obesity|
|35.0–39.9	|class II obesity|
| >=40 | class III obesity  |

In [ ]:
def XXXXX():
    temporary = None
    result = None
    return result

Use the function that you created to convert the 'BMI' column from the BMI number to the BMI classification

In [ ]:
df['BMI'] = ______________

Create the new dataframe below

In [ ]:
people_info = pd.DataFrame({'Name': ['John', 'Kate', 'Lewis', 'Mike', 'Charlotte', 'Carol', 'Neil', 'Johnny', 'Lucy', 'Ron'], 
                            'Weight (kg)': [50, 60, 75, 80, 40, 90, 85, 100, 74, 51]
                           })

Merge the people info dataframe with the BMI dataframe to create one big dataframe.  The pandas 'merge' is like a SQL join.  Check the cheat sheet for examples.

In [ ]:
big_df = ______________

What problems might you have in the future (with a larger dataset) merging on the feature that you have chosen?